<h1><%= @article.title %></h1>
<p><%= @article.body %></p>
<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <li><%= link_to "Delete", article_path(@article), method: :delete, data: {confirm: "Are you sure?"} %></li>
</ul>
<p><%= link_to "All Articles", articles_path %></p>
<h2>Comments: </h2>
This article has <%= @article.comments.public_count %> comments
<% # The @article object is available to any partials 
   # rendered in the view because we defined it as an instance variable.
%>
<%= render @article.comments %>
<h2>Add a new comment: </h2>
<% # Rails is smart enough to spot the forward slash in that string
   # and realize that you want to render the _form.html.erb file in 
   # the app/views/comments directory 
%>
<%= render 'comments/form' %>
